@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Faux BestBuy</h1>
   
    <p>Check out more <a href="https://github.com/MBurnette4120">of my work on GitHub</a>.</p>
</div>
